#tree-container {
  display: flex;
  justify-content: center;
}

.tree {
  list-style-type: none;
  padding-left: 0;
}

.tree ul {
  display: block;
  padding-left: 20px;
}

.tree li {
  margin: 10px 0;
  text-align: left;
}

.tree .recipe {
  cursor: pointer;
  font-weight: bold;
  color: #007bff;
  display: inline-block;
}

.tree .recipe:hover {
  text-decoration: underline;
}
