* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Segoe UI, Roboto, Arial;
}

/* Define default dark mode variables */
:root {
  --background-color: #28385b;
  --sidebar-background-color: #010b4f;
  --header-background-color: #1f2937;
  --text-color: #ffffff;
  --link-color: #3b38ff;
  --popup-background-color: #2d2d2d;
}

/* Light mode variables */
body.light-mode {
  --background-color: #ffffff;
  --sidebar-background-color: #dfdfdf;
  --header-background-color: #868686;
  --text-color: #000000;
  --link-color: #1a73e8;
  --popup-background-color: #b0b0b0;
}

/* Apply the variables to the elements */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0px;
}

html,
#app {
  height: 100%;
  margin: 0px;
}

header,
.subheader {
  display: flex;
  gap: 8px;
  padding: 10px;
  background: var(--header-background-color);
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  height: calc(100% - 56px);
}

a {
  color: var(--link-color);
}

.code-color {
  background-color: #9f9f9f;
}

.light-mode .code-color {
  background-color: #f5f5f5;
}

#jsonDisplay {
  height: auto;
  min-height: 300px;
  max-height: 600px;
  overflow-y: scroll;
}

.w3-card-4 {
  margin-bottom: 20px;
}

.w3-card {
  margin: 0px;
}

#protected {
  display: none;
}

#important-message {
  color: red;
}

.spoiler-content {
  display: none;
}

.spoiler-button {
  cursor: pointer;
}

.w3-button {
  font-weight: bold;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  background-color: var(--popup-background-color);
  padding: 20px;
  box-shadow: 0px 0px 10px #00000080;
  border-radius: 10px;
  min-width: 50%;
  max-width: 80%;
  min-height: 300px;
  max-height: 600px;
  overflow: auto;
}

@media (max-width: 768px) {
  .popup-container {
    min-width: 50%;
    max-width: 70%;
  }
}

.popup-close {
  position: fixed;
  top: 0px;
  right: 0px;
  padding-right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: #000000;
  font-weight: bold;
}

.popup-close:hover {
  color: red;
}

.config-item {
  display: flex;
  flex-direction: column;
}

.config-item select {
  width: 100%;
  max-width: 180px;
}

#canvas {
  background: var(--background-color);
  width: 100%;
  height: 120%;
  flex: 1;
}

#sidebar {
  width: 320px;
  height: 120%;
  box-shadow: -5px 5px 20px #00000080;
  background: var(--sidebar-background-color);
  padding: 12px;
  overflow: auto;
  z-index: 1;
}

.node-group {
  cursor: pointer;
}
